body {
  font-family: 'Inter', sans-serif;
  color: #2D3748; /* Off-black/dark grey is easier on the eyes than pure black */
  line-height: 1.6; /* Adds breathing room to paragraphs */
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.02em; /* Tightens headings for a modern look */
}
h2 {
  font-size: 36px!important;
}

.flexslider {
  width: 80%;
  /* margin: auto !important; */
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: transparent!important;
  border: none!important;
}
@media only screen and (max-width: 600px) {
  .flexslider {
  }
}
.flexslider .slides img {
  max-height: 500px;
  max-width: 60%;
  margin: auto;
}
.flex-viewport {
  max-height: 500px;
}

.scc-element-membership-wrapper {
  flex-wrap: wrap;
}
.scc-element-membership-wrapper .description {
  flex-basis: 100%;
}

.flex-slider-container .slider-description {
  color: #87ceeb;
}

.isp-icon-button-round {
  color: #19c2c8 !important;
  background-color: #fff !important;
  border-radius: 55%;
}