.views-exposed-form {
  border-bottom: 2px solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.form-item, .form-actions {
  /* display: flex;
  align-items: center;
  gap: 5px; */
}
.register_prompt, .sign_in_prompt {
  float: right;
}

.views-exposed-form .form-item label {
  display: block;
  margin-bottom: 0px!important;
}

.views-data-export-feed {
  display: inline-block;
  position: absolute;
  top: -14px;
  right: 0;
}

.events-teaser-view {
  border-top: 3px solid;
  padding-top: 15px;
}

.main-menu a.menu-link {
  color: black !important;
  font-weight: 500;
}

.main-menu a.menu-link:hover {
  text-decoration: underline;
}

nav.navbar.navbar-default {
    background: #fff;
}
.main-header:after {
  background: #fff !important;
}
