.main-header {
  background-color: #fff!important;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
}

a.site-branding__logo > img {
  max-width: 150px;
}
/* brand site-name */
.site-branding__name a {
  font-weight: 700;
  color: rgb(246, 216, 19) !important;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}
.avatar-mobile {
  display: none;
}
.user-avatar {
  font-size: xx-large
}

@media only screen and (max-width: 600px) {
  a.site-branding__logo > img {
    border-radius: 90%;
  }
  .site-branding__name {
    display: none;
  }
  .navbar-mobile-toggle {
    z-index: unset !important;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .avatar-mobile {
    font-size: xx-large;
    margin-right: 5px;
    display: unset;
    display: block;
  }
  .full-screen-avatar {
    display: unset;
    display: none !important;
  }
}