.main-header {
  background-color: #fff!important;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
}

a.site-branding__logo > img {
  max-width: 150px;
}
/* brand site-name */
.site-branding__name a {
  font-weight: 700;
  color: rgb(246, 216, 19) !important;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

@media only screen and (max-width: 600px) {
  a.site-branding__logo > img {
    border-radius: 90%;
    max-width: 30%;
  }
}